p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    background: rgb(232, 232, 232);
    font-family: Arial, Helvetica, sans-serif;
}

.panel-heading {
    background: aqua;
}